/* stylelint-disable color-function-notation */
:root {
  // TODO: Går bra att radera kod även här!
  font-family: Barlow, sans-serif;
  font-size: rem(16px);
  line-height: 24px;
  color: rgba(7, 7, 7, 87%);
  font-synthesis: none;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-size-adjust: 100%;
}
@mixin result-gameover{
  background-image: url('/images/card.png');
  background-repeat: no-repeat;
  background-size: 100%;
  flex-direction: column;
  text-align: center;
  margin-left: 5%;
  margin-right: 5%;
  height: 100vh;

}

@mixin textbox-clue {
  flex-direction: column;
  align-items: center;
  background-image: url('/images/card.png');
  background-size: 100%;
  background-repeat: no-repeat;
  height: 55vh;
  width: 50vw;
  margin-left: 25%;
  margin-top: 20%;
  position: absolute;

}

@mixin buttons {
  background-color: rgba(100, 91, 116, 90%);
  color: white;
  text-align: center;
  
}

.hidden {
  position: absolute;
  visibility:hidden;
  display:none;
}

.visible{
  visibility: visible;
  display: flex;
  flex-direction: column;
}

/************************************************************************
 *                               Regler för startsida                 
 ************************************************************************/
.entrypage {
  align-items: center;
  min-height: 100vh;
  background: url('/images/entrypage.png');
  background-repeat: no-repeat;
  background-size: 400px 400px;
  background-position: center;


  .choose-game {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    height: 50vh;
    width: 60vw;
    margin-top: 10%;
    background-color: rgba($color: #484747, $alpha: 60%);
    color: #242424;
    text-align: center;
    padding: 5% 2%;
  }

  #ghost, #horse {
    @include buttons;

    margin-top: 5%;

  }
}

.startpage-horse {
  align-items: center;
  min-height: 100vh;
  background-image: url('/images/backgroundimage-small.jpg');
  background-repeat: no-repeat;

  .game-intro {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    height: 50vh;
    width: 60vw;
    margin-top: 10%;
    background-color: rgba($color: #c2b2a4, $alpha: 80%);
    color: #242424;
    text-align: center;
    padding: 5% 2%;
  }

  .begin-game {
    @include buttons;

    margin-top: 10%;

  }
}

.startpage-ghost {
  align-items: center;
  min-height: 100vh;
  background-image: url('/images/scarycastle-small.jpg');
  background-repeat: no-repeat;
  background-size: cover;


  .game-intro {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    height: 50vh;
    width: 60vw;
    margin-top: 10%;
    background-color: rgba($color: #9171d7, $alpha: 80%);
    color: #242424;
    text-align: center;
    padding: 5% 2%;
  }

  .begin-game {
    @include buttons;

    margin-top: 10%;

  }
}

/******************************************************************************
*                             Regler för spelsida
*******************************************************************************/
.selectionpage {
  flex-direction: column;
  background-color: #fff;

  .play-intro {
    text-align: center;
    padding-left: 2px;
    padding-right: 2px;
  }

  .play-intro h2 {
    font-size: 1.2em;
  }

  .playintro p {
    font-size: 1em;
  }
}

.selectionpage-ghost{
  background-color: #6f82ae;
  min-height: 100vh;
  color:rgb(36, 36, 102)


}

.play-intro span {
  font-size: small;
  text-align: center;
  margin-bottom: 5px;
}

.textbox {
  @include textbox-clue;

  .killer-text {
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 45px;
  }
  
}

.close-text {
  @include buttons;

  border-radius: 5%;
  height: 35px;
  width: 45px;
  align-self: center;
  font-size: smaller;
  margin-top: 10px;
}

.selectbutton {
  @include buttons;
  text-align: center;

  height: 25px;
  width: 35px;
  font-size: small;
  border-radius: 20%;
}

.active {
  border: solid rgb(36, 36, 102) 2px;
}

.selectbutton:disabled {
  color: black;
  background-color: rgba(116, 115, 117, 90%);
}

.all-killers {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 2px 2px;
  margin-top: 2px;
}

.all-killers section {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  width: 33vw;

  h2 {
    font-size: 0.8em;
    text-align: center;
  }
}

.all-places {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 2px 2px;
  margin-top: 2px;
}

.all-places section {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  width: 33vw;

  h2 {
    font-size: 0.8em;
    text-align: center;
  }
}

.all-weapons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 2px 2px;
  margin-top: 2px;
}

.all-weapons section {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  width: 33vw;

  h2 {
    font-size: 0.8em;
    text-align: center;
  }
}

.buttons {
  display: inline-flex;
  flex-direction: row;
  justify-content: space-around;
}

.test-result,
#clue {
  @include buttons;

  margin-top: 20px;
  border-radius: 5%;
}

.test-result:disabled {
  color: black;
  background-color: rgba(116, 115, 117, 90%);
}

#cluebox {
  @include textbox-clue;

  .clue-text {
    padding: 20px;
    text-align: center;
  }

  #close-text {
    @include buttons;
  }
}

#resultpage {
  flex-direction: column;
  align-content: center;
  height: 100vh;

  .result {
    @include result-gameover();
  }

  h2 {
    margin-top: 30%;
    padding: 20px;
  }

  .play-again {
    @include buttons;

    border: 1px solid black;
    border-radius: 5%;
  }
}

#gameoverpage {
  flex-direction: column;
  align-content: center;
  height: 100vh;

  .gameover {
    @include result-gameover;
  }

  h2 {
    margin-top: 30%;
    padding: 10px;
  }

  .startover {
    @include buttons;
    
    border-radius: 5%;
  }
}
