:root {
  // TODO: Går bra att radera kod även här!
  font-family: 'Barlow', sans-serif;
  font-size: rem(16px);
  line-height: 24px;
  color: rgba(7, 7, 7, 0.87);
  font-synthesis: none;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-size-adjust: 100%;
}

.toggle-hidden {
  visibility: hidden;
}

.hidden {
  display: none;
}

/************************************************************************
 *                               Regler för startsida                 
 ************************************************************************/
.startpage {
  display: flex;
  align-items: center;
  height: 100vh;
  background-image: url('/images/backgroundimage-small.jpg');

  .game-intro {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    height: 50vh;
    width: 60vw;
    margin-left: 20%;
    margin-bottom: 80%;
    background-color: rgba($color: #c2b2a4, $alpha: 0.8);
    color: #242424;
    text-align: center;
    padding: 5% 2%;
  }

  .begin-game {
    margin-top: 10%;
  }
}

/******************************************************************************
*                             Regler för spelsida
*******************************************************************************/
#selectionpage {
  display: none;
  flex-direction: column;
  background-color: #ffffff;

  .play-intro {
    text-align: center;
    padding-left: 2px;
    padding-right: 2px;

  }


  .play-intro h2 {
    font-size: 1.2em;
  }

  .playintro p {
    font-size: 1em;
  }
}

.play-intro span {
  font-size: small;
  text-align: center;
  margin-bottom: 5px;
}

.textbox{
display: none;
flex-direction: column;
background-image: url('/images/card.jpg');
background-size: 100%;
background-repeat: no-repeat;
height: 60vh;
width: 60vw;
margin-left:25%;
margin-top: 20%;
position: absolute;

.killer-text{
  text-align: center;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 15px;
  }
  
  #close-text {
    height: 35px;
    width: 45px;
    align-self: center;
    font-size: smaller;
    margin-bottom: 10px;
  }
}


.selectbutton {
  height: 20px;
  font-size: small;
  background-color:rgba(100, 91, 116, 0.9);
  color: white;
  border: 0.5px solid black;
  border-radius: 20%;

 
}

.active {
  border: solid rgb(36, 36, 102) 2px;

}

.all-killers {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 2px 2px;
  margin-top: 2px;
 
}

.all-killers section {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  height: 14vh;
  width: 33vw;

  h2 {
    font-size: 0.8em;
    text-align: center;
  }
}

.all-places {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 2px 2px;
  margin-top: 2px;
 
}

.all-places section {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  height: 14vh;
  width: 33vw;

  h2 {
    font-size: 0.8em;
    text-align: center;
  }
}

.all-weapons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 2px 2px;
  margin-top: 2px;
 
}

.all-weapons section {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  height: 14vh;
  width: 33vw;

  h2 {
    font-size: 0.8em;
    text-align: center;
  }
}

.buttons {
  display: inline-flex;
  flex-direction: row;
  justify-content: space-around;
}
.test-result, #clue{
  margin-top: 20px;
  background-color:rgba(100, 91, 116, 0.9);
  color: white;
  border: 1px solid black;
  border-radius: 5%;

}
#close-text{
  background-color:rgba(100, 91, 116, 0.9);
  color: white;
  border: 1px solid black;
  border-radius: 5%;
  width: 10vw;
}

#resultpage {
  display:none;
  flex-direction: column;
  align-content: center;
  height: 100vh;


  .result{
    background-image: url('/images/card.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    text-align: center;
    margin-top: 35%;
    margin-left: 5%;
    margin-right: 5%;
    height: 100vh;
  }

    h2 {
      margin-top: 30%;
      padding: 10px
    }

  .play-again {
    margin-top:10%;
    background-color:rgba(100, 91, 116, 0.9);
    color: white;
    border: 1px solid black;
    border-radius: 5%;
  }
}

#gameoverpage {
  display:none;
  flex-direction: column;
  align-content: center;
  height: 100vh;

  .gameover {
    background-image: url('/images/card.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    text-align: center;
    margin-top: 35%;
    margin-left: 5%;
    margin-right: 5%;
    height: 100vh;
  }

    h2 {
    margin-top: 30%;
    padding: 10px
  }

  .startover {
    margin-top:10%;
    background-color:rgba(100, 91, 116, 0.9);
    color: white;
    border: 1px solid black;
    border-radius: 5%;
    
  }
}