.startpage {
  background-image: url('/images/background-image-large.jpg');
  background-repeat: no-repeat;
  background-size: fit;
}

.all-killers .killer {
  height: 17vh;
}

.all-places .place{
  height: 17vh;
}

.all-weapons .weapon{
  height: 17vh;
}

#resultpage .result {
  margin-top: 20%;
  flex-direction: column;
}

#gameoverpage .gameover {
  margin-top: 20%;
}
