@use "utils/a11y"; // Om det inte funkar, byt @use mot @import
@use "vendor/reset";

:root {
  // TODO: Går bra att radera kod även här!
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: rem(16px);
  line-height: 24px;
  font-weight: 400;
  color-scheme: light dark;
  color: rgb(255 255 255 / 87%);
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-size-adjust: 100%;
}

.toggle-hidden {
  visibility: hidden;
}

.hidden{
  display: none;
}

/************************************************************************
 *                               Regler för startsida                 
 ************************************************************************/ 
.startpage {
  display: flex;
  align-items: center;
  height: 100vh;
  background-image: url('/images/backgroundimage-small.jpg');

  .game-intro {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    height: 50vh;
    width: 60vw;
    margin-left: 20%;
    background-color: rgba($color: #c4bfbf, $alpha: 80%);
    color:#242424;
    text-align: center;
    padding: 5% 2%
  
}

  .begin-game {
    margin-top: 5%;
  }
}

/******************************************************************************
*                             Regler för spelsida
*******************************************************************************/
#selectionpage {
  display:none;
  flex-direction: column;
  align-items: center;

  .play-intro {
    margin-bottom: 10px;
    text-align: center;
  }

}

  .play-intro span{
    font-size: x-small;
    text-align: center;
  }

  .selectbutton {
    height: 20px;
    font-size: small;
}

.active{
    border: solid blue 1px;
}

.all-killers {  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 2px 2px;
  margin-top: 2px;
  grid-auto-flow: row;
  grid-template-areas:
    "killer-1 killer-2 killer-3"
    "killer-4 killer-5 killer-6";

.killer-0 { grid-area: killer-1; }
.killer-1 { grid-area: killer-2; }
.killer-2 { grid-area: killer-3; }
.killer-3 { grid-area: killer-4; }
.killer-4 { grid-area: killer-5; }
.killer-5 { grid-area: killer-6; }

}

.all-killers div {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  height: 14vh;
  width: 30vw;
  
    h2{
    font-size: 1em;
    text-align: center;
  }

    
}



.all-places {  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 2px 2px;
  margin-top: 2px;
  grid-auto-flow: row;
  grid-template-areas:
    "place-1 place-2 place-3"
    "place-4 place-5 place-6";

.place-0 { grid-area: place-1; }
.place-1 { grid-area: place-2; }
.place-2 { grid-area: place-3; }
.place-3 { grid-area: place-4; }
.place-4 { grid-area: place-5; }
.place-5 { grid-area: place-6; }

}

.all-places div {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  height: 14vh;
  width: 30vw;
  

  h2{
    font-size: 1em;
    text-align: center;
  }
}

.all-weapons {  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 2px 2px;
  margin-top: 2px;
  grid-auto-flow: row;
  grid-template-areas:
    "weapon-1 weapon-2 weapon-3"
    "weapon-4 weapon-5 weapon-6";

.weapon-0 { grid-area: weapon-1; }
.weapon-1 { grid-area: weapon-2; }
.weapon-2 { grid-area: weapon-3; }
.weapon-3 { grid-area: weapon-4; }
.weapon-4 { grid-area: weapon-5; }
.weapon-5 { grid-area: weapon-6; }

}

.all-weapons div {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  height: 14vh;
  width: 30vw;

  h2{
    font-size: 1em;
    text-align: center;
  }
}

.test-result {
  margin-top: 20px;
}

#resultpage {
  display: none;
}